################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/JewelryManagement.DBO/JewelryManagement.DBO.dbmdl
/JewelryManagement.DBO/JewelryManagement.DBO.jfm
