<h2 *ngIf="dialogData.title && dialogData.showHeaderTitle" mat-dialog-title>{{dialogData.title}}</h2>
<span class="dialog-close-icon">
  <mat-icon class="fa fa-close" (click)="onCancelClick()"></mat-icon>
</span>
<div class="dialog-title-divider mt-3" *ngIf="dialogData.showDivider">
    <mat-divider></mat-divider>
</div>

<mat-dialog-content>
    <ng-template #componentPlaceHolder></ng-template>
</mat-dialog-content>

<!-- Save and Edit Button, Toggle based on new form or To edit existing form -->
<mat-dialog-actions *ngIf="dialogData.showActionBtn">
     <ng-container >
        <button mat-raised-button type="submit" color="primary" (click)="onSaveClick()">{{dialogData.saveBtnLabel }}</button>
    </ng-container>
</mat-dialog-actions>


